.benefits {
    padding-top: 115px;
    background-color: #F7F5F5;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    min-height: 977px;
    &__desc {
        display: flex;
        justify-content: space-between;
        &-title {
            max-width: 462px;
        }
        &-title span{
            display: block;
            padding-top: 20px;
            color: #F03957;
        }
        &-text {
            max-width: 523px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.75;
         
        }
    }
    &__items {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 35px 24px 124px;
        max-width: 367px;
        max-height: 499px;
        background-color: #C4C4C4;
        border-radius: 20px;
        overflow: hidden;
        &-grey {
            background: #525252;
            color: #fff;
        }
        &-pink {
            background: #D5636B;
            color: #fff;
        }
        &-logo img {
            width: 73px;
            height: 58px;
        }
        &-title {
            padding-top: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.5;
            letter-spacing: -0.05em;
        }
        &-text {
            padding-top: 15px;
            font-size: 18px;
            line-height: 1.75;
            letter-spacing: -0.05em;
        }
    }
}

@media (max-width:768px) {
    .container {
        width: 731px;
    }
    .benefits {
        min-height: 1172px;
        &__desc {
            &-title {
                font-weight: 700;
                font-size: 35px;
                max-width: 321px;
            }
            &-title span{
                display: block;
                padding-top: 15px;
            }
            &-text {
                max-width: 327px;
                font-size: 16px;
            }
        }
        &__items {
            padding-top: 50px;
            flex-direction: column;
            gap: 30px;
        }
        &__item {
            padding: 26px 50px 70px 50px;
            max-width: 728px;
            max-height: 243px;
            }
            &-logo img {
                width: 73px;
                height: 58px;
            }
        }
    }
 

 @media (max-width:480px) {
    .container {
        width: 440px;
    }
    .benefits {
        padding-top: 50px;
        min-height: 1150px;
        &__desc {
            flex-direction: column;
            align-items: center;
            &-title {
                font-size: 40px;
            }
            &-title span{
                padding-top: 10px;
            }
            &-text {
                padding-top: 20px;
                font-size: 20px;
            }
        }
        &__items {
            gap: 20px;
        }
        &__item {
            padding: 20px 40px 60px;
            max-width: 728px;
            max-height: 243px;
            &-title {
                font-size: 20px;
            }
            &-text {
                font-size: 14px;
            }
            &-logo img {
                width: 73px;
                height: 58px;
            }
            }
         
        }
    }
 